*{
	margin: 0;
	padding: 0;
}

body{
	perspective: 1500px;
	background: #000;
	position: relative;
	transform-style: preserve-3d;
}
ul li{
	list-style: none;
}
.Box{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: url(../images/bingo.png);
	background-size: cover;
	background-repeat: no-repeat;
	transform-style: preserve-3d;
	perspective: 1200px;
	transform-origin: left center;
}
.box{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 450px;
	transform: translate(-50%,-50%);
	transform-origin: 50% 50%;
}
.boss{
	background-color: #000;
	padding: 20px 40px;
	width: 100%;
	box-shadow: 0 0 5px #000, 0 0 30px #000;
    border-radius: 5px;
}
.text h4{
	text-align: center;
	margin-bottom: 30px;
	font-size: 36px;
	color: #fff;
	font-weight: 700;
	text-shadow: 0 0 5px #000,0 0 10px #000,0 0 20px #000,0 0 40px #000,0 0 80px #000,0 0 140px #000;
}
.boss .button ul{
	display: flex;
}
.boss .button ul{
	margin: 0;
	padding: 0;
}
.boss .button ul li{
	padding: 5px;
	margin-top: 20px;
	border-color:#fff;
	color:#fff;
	cursor: pointer;
	border-radius: 4px;
	box-shadow:0px 0px 2px 1px #fff;
    text-shadow:0px 0px 2px #fff; 
}
.boss .button ul li:hover{
	box-shadow:0px 0px 5px 2px #fff;
  	text-shadow:0px 0px 4px #fff;
}
.input ul{
	margin: 0;
	padding: 0;
}
.input ul li input{
	background: #000;
	width: 100%;
	padding: 2px 4px;
	font-size: 16px;
	color: #000;
	border: none;
	height: 30px;
	color: #fff;
	border-radius: 0;
	border-bottom: 2px solid rgba(255,255,255,0.2);
	margin: 5px 0;
}
.input ul li input:focus, .input ul li input:hover{
	border: none;
	background: #000;
	color: #fff;
	box-shadow: none !important;
	transition: 0.4s;
	border-bottom: 2px solid rgba(255,255,255,1);
}
.bingo{
	width: 100%;
	padding: 5px;
	height: auto;
	background: #000;
	border-radius: 5px;
	box-shadow: 0 0 5px #000, 0 0 30px #000;
	margin-top: 20px;
	display: flex;
	transition: 0.5s;
	position: relative;
	flex-wrap: wrap;
}
.bingo span{
	position: relative;
	background: linear-gradient(45deg,#14ffe9, #ffeb3b, #ff00e0);
	width: 58px;
	height: 58px;
	margin: 5px;
	background-size: 400%;
	border-radius: 50%;
	overflow: hidden;
	animation: animate 8s linear infinite;
}
@keyframes animate{
	0%{
		background-position: 0;
	}
	100%{
		background-position: 400%;
	}
}
.bingo span p{
	position: absolute;
	top: 50%;
	left: 50%;
	transition: 0.5s;
	transform: translate(-50%,-50%);
	color: #fff;
	font-weight: 500;
	font-size: 22px;
}
.bingo span:before{
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	border-radius: 50%;
	background: #000;
}

#create{
	text-align: center;
	width: 100%;
}
.hide{
	animation: animateH 0.5s ease-in-out forwards;
}
@keyframes animateH{
	0%{
		transform: rotateY(0deg);
	}
	100%{
		transform: rotateY(120deg);
	}
}
.content{
	position: absolute;
	top: 0;
	min-height: 100vh;
	width: 100%;
	background: url(../images/a6.jpg);
	transition: 1s;
	transform-origin: right center;
	display: none;
	overflow: hidden;
	padding: 10px;
	box-shadow: 0 0 5px red, 0 0 30px red;
}
.content:before{
	content: '';
	position: absolute;
	background: rgba(0,0,0,0.7);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.display{
	display: block !important;
}
@keyframes animateD{
	0%{
		transform: rotateY(-120deg)
	}
	100%{
		transform: rotateY(0deg)
	}
}
.bingo:after{
	content: '';
	border-radius: 4px;
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: red;
	z-index: -1;
	filter: blur(5px);
	background: linear-gradient(45deg,red,yellow);
}



a {
  text-decoration: none;
}


.setup, 
.setup-action {
  width: 32px;
  height: 32px;
  border-radius: 50% !important;
}
.setup {
  font: 14px, 'FontAwesome';
  position: absolute;
  top: 40px;
  left: 50px;
  cursor: pointer;
  display: none;
}
.rounded {
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  position: relative;
}
.rounded i{
	position: absolute;
	top: 50%;
	left: 50%;
	color: #fff;
	transform: translate(-50%,-50%);
}
.setup-action {
  display: inline-block;
  vertical-align: middle;
  z-index: 5;
  position: relative;
  background: #000;
  box-shadow: 0 1px 5px rgba(255, 255, 255, 0.5) inset, 0 0 0px 1px rgba(33, 112, 178, 0.5);
  line-height: 33px;
  color: #fff;
}

.setup-btn {
  display:inline-block;
  width: 49%;
  height: 49%;
  position: absolute;
  z-index: :1;
  border-color: #92888f;
  border-style: solid;
  border-width: 0;
  font-size: 25px;
  color: #777777;
}
.setup-btn:hover {
  background:linear-gradient(#8df 0%, #29d 100%);
  color: #ffffff;
  text-shadow: 0 -1px #4298e0;
}
.setup-btn.tl {
  right: 50%;
  bottom: 50%;
  border-top-left-radius: 100%;
  text-indent: 5px;
  line-height: 55px; 
}

.setup-btn.tr {
  left: 50%;
  bottom: 50%;
  border-top-right-radius: 100%;
  line-height: 50px;
}
.setup-btn.bl {
  right: 50%;
  top: 50%;
  border-bottom-left-radius: 100%;
  text-indent: 2px;
  line-height: 47px;
}
.setup-btn.br {
  left: 50%;
  top: 50%;
  border-bottom-right-radius: 100%;
  line-height: 46px;
  text-indent: -2px;
}
.setup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 0px;
  margin-top:  0px;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(.05,.93,.61,1.6);
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
  width: 0px;
  height: 0px;
  background: #000;
}

.setup-action:hover ~ .setup-container,
.setup-container:hover {
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
}

.setup-container:after,
.setup-container:before {
  position: absolute;
  background:  linear-gradient(rgba(136, 221, 255, 0.5) 0%, rgba(34, 153, 221, 0.5) 50%, rgba(136, 221, 255, 0.5) 100%);
  z-index:4;
  margin: 0;
  transition: all 0.5s ease-in-out;
  content: ' ';
}

.setup-container:before {
  background:  linear-gradient(left, rgba(136, 221, 255, 0.5) 0%, rgba(34, 153, 221, 0.5) 50%, rgba(136, 221, 255, 0.5) 100%);
  height: 1px;
  margin: 50% 50%;
  width: 0%;
}

.setup-action:hover ~ .setup-container:before,
.setup-container:hover:before {
  width: 85%;
  left: 0px;
  margin: 50% 7%;
}


.setup-container:after {
  left: -1px;
  height: 0%;
  width: 1px;
  margin: 50% 50%;
}

.setup-action:hover ~ .setup-container:after,
.setup-container:hover:after {
  height: 85%;
  margin: 7% 50%;
}

.menus{
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 0%;
	transition: 1s;
	background: #000;
	display: none;
	box-shadow: 2px 5px 5px red, 2px 5px 20px red;
	padding: 0 10px;
	}
.menus-fix{
	transition: 1s;
	transform-origin: right center;
	transform: rotateY(-30deg);
}
.menu-fix{
	display: block;
	width: 300px;
}
.textIn{
	position: absolute;
	top: 400px;
	left: 50%;
	transform: translate(-50%,-50%);
}
.textIn input{
	width: 250px;
	margin: 10px 0;
	background: transparent;
	box-shadow: none;
	text-shadow: none;
	border: none;
	padding: 3px 5px;
	font-size: 18px;
	color: #fff;
	box-shadow: 0 0 10px red;
	border-radius: 4px;
}
.textIn input:focus,.textIn input:hover{
	outline: none;
	box-shadow: 0 0 10px red,0 0 10px red;
}

.btn{
	margin-top: 30px;
	font-size: 18px;
	color: red;
	box-shadow: 0 0 7px yellow;
}
.btn:hover{
	font-weight: 700;
	color: red;
	background: #000;
}
.pinpol{
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
	width: 140px;
	background: #000;
	height: 140px;
	background-size: 400%; 
	background: linear-gradient(45deg,#00FF0C,#FF0000,#A200FF);
	box-shadow: 0 0 5px #FF7200,0 0 5px #FF7200,0 0 15px #FF7200;
	animation: ani 5s linear infinite;
}
@keyframes ani{
	100%,0%{
		background-size: 0%;
	}
	50%{
		background-size: 400%;
	}
}
.pinpol i{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-size: 42px;
}
.pinpol:before{
	content: '';
	position: absolute;
	top: 4px;
	left: 4px;
	right: 4px;
	bottom: 4px;
	border-radius: 50%;
	z-index: -1;
	background: #000;
}
.textIn h5{
	color: red;
	font-size: 28px;
	text-shadow: 0 0 5px red,0 0 10px red;
	text-align: center;
	font-weight: 700;
	margin: 20px;
}
.textIn p{
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: #fff;
	font-weight: 500;
}

.left{
	position: absolute;
	top: 50%;
	left: 40px;
	transform: translateY(-50%);
	width: 120px;
	height: 120px;
	background: #000;
	border-radius: 4px;
	box-shadow: 0 0 10px red;
}
.right{
	position: absolute;
	top: 50%;
	right: 40px;
	transform: translateY(-50%);
	width: 120px;
	height: 120px;
	background: #000;
	border-radius: 4px;
	box-shadow: 0 0 10px red;
}
.left span, .right span{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	background-size: 400%;
	border-radius: 50%;
	background: linear-gradient(45deg,#FF0000,#00FCFF,#FFE400);
	transform: translate(-50%,-50%);
	animation: ani 1s linear infinite;
}
.left span:after, .right span:after{
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	border-radius: 50%;
	background: #000;
	z-index: -1;
}

.left span p, .right span p{
	font-size: 36px;
	color: #fff;
	font-weight: 600;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.left:before{
	content: '';
	position: absolute;
	top: 50%;
	left: -50%;
	transform: translateY(-50%);
	width: 60px;
	height: 20px;
	background-color: #000;
	z-index: -1;
	box-shadow: 0 0 10px red;
}
.right:before{
	content: '';
	position: absolute;
	top: 50%;
	right: -50%;
	transform: translateY(-50%);
	width: 60px;
	height: 20px;
	z-index: -1;
	background-color: #000;
	box-shadow: 0 0 10px red;
}

@media print{
	.setup{
		display: none !important;
	}
	.bingo{
		width: 352px !important;
		margin: 50px !important;
		height: 352px !important;
		border: 1px solid;
		border-image-source: linear-gradient(45deg,red,yellow);
		border-image-slice: 1;
		box-shadow: 0 0 10px red, 0 0 10px yellow !important;
	}
	.col-md-4{
		margin: 150px 30px !important;
	}
	.left, .right{
		display: none !important;
	}
	.bingo span{
		border: 1px solid;
		border-image-source: linear-gradient(45deg,red,yellow);
		border-image-slice: 1;
	}
}